In [1]:
squared_alist = []
alist = [1,2,3,4,5,6,7,8,9,10]

#using for loop
for i in alist:
    squared_alist.append(i**2)

squared_alist

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
squared_alist = []
alist = [11,12,13,14,15,16,17,18,19,20]

#using while loop
a = 0
while a<len(alist):
    squared_alist.append(alist[a]**2)
    a+=1
squared_alist

[121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [4]:
favourite_food = []
for a in range(5):
    ff = input("Favourite Food: ")
    favourite_food.append(ff)
favourite_food

Favourite Food:  Biryani
Favourite Food:  q
Favourite Food:  q
Favourite Food:  q
Favourite Food:  q

['Biryani', 'q', 'q', 'q', 'q']

In [5]:
favourite_food = []
for a in range(5):
    ff = input("Favourite Food: ")
    if ff == 'q':
        break
    else:
        favourite_food.append(ff)
favourite_food

Favourite Food:  Biryani
Favourite Food:  q

['Biryani']

In [8]:
favourite_food = []
a = 0
while a < 5:
    ff = input("Favourite Food: ")
    if ff == 'q':
        break
    else:
        favourite_food.append(ff)
        a+1
favourite_food

Favourite Food:  Biryani
Favourite Food:  Custard
Favourite Food:  q

['Biryani', 'Custard']

In [9]:
favourite_food = []
a = 0
flag = True
while flag:
    ff = input("Favourite Food: ")
    if ff == 'q':
        flag = False
    else:
        favourite_food.append(ff)
        a+1
favourite_food

Favourite Food:  Custard
Favourite Food:  Labe Sheerein
Favourite Food:  q

['Custard', 'Labe Sheerein']

# Functions
 - Open Functions >> print, type, input, len, range, id
 - Class Functions >> list function, dic, set, tuple, string
 - User defined Function: def function_name():

In [10]:
def greeting():
    print("Welcome!")

In [11]:
greeting()

Welcome!

In [12]:
#parameter less function
def add():
    a = 10
    b = 20
    print (a+b)

In [13]:
add()

30

In [14]:
#parameterized function
def add(num1,num2):
    a = num1
    b = num2
    print (a+b)

In [15]:
add(2,5)

7

In [20]:
def greeting(name): #parameter
    print(f"Welcome! {name}")

In [21]:
greeting("Arsalan") #argument

Welcome! Arsalan

In [22]:
def add(a,b):
    print (a+b)

In [23]:
add(5,6)

11

In [24]:
def add(a,b,d,c=100): #c is the default value that must be in the end
    print(a+b+c+d)

In [25]:
add(1,2,3,4)

10

In [26]:
add(1,2,3) #c will come up as 100 if not call

106

In [28]:
def add(a=0,b=0,c=0,d=0): #default values
    print(a+b+c+d)

In [29]:
add()

0

In [30]:
add(2,6,6)

14

## Keyword Argument

In [32]:
def generate_profile(name, age, qual, prof, gender):
    profile = {}
    profile['Name'] = name
    profile['Age'] = age
    profile['Qualification'] = qual
    profile['Profession'] = prof
    profile['gender'] = gender

In [33]:
def generate_profile(name, age, qual, prof, gender):
    profile = {'Name':name, 'age':age, 'qualification':qual, 'profession':prof, 'gender':gender}
    print(profile)

In [34]:
generate_profile(age = '23', name = 'Shabana', prof = 'Doctor', gender ='Female', qual = 'MBBS')

{'Name': 'Shabana', 'age': '23', 'qualification': 'MBBS', 'profession': 'Doctor', 'gender': 'Female'}

In [35]:
generate_profile('Bilal', age = '23', 'Matric','PythonDev', gender ='Male')

SyntaxError: positional argument follows keyword argument (3879926794.py, line 1)

In [36]:
generate_profile('Bilal', 'Matric','PythonDev', age = '23', gender ='Male') #Default Argument should be at the end

TypeError: generate_profile() got multiple values for argument 'age'

# Arbitrary Arguments:

In [43]:
def add(a,b=0, *other):
    print (a)
    print (b)
    print (other)

In [44]:
add(1)

1
0
()

In [45]:
add(1,2,3,4,5,6,7,8,9)

1
2
(3, 4, 5, 6, 7, 8, 9)

In [48]:
def add(a,b=0, *other):
    print(a+b+sum(other))
add(3,5,5,8,6,9,4,2)

42

In [46]:
sum((3,4,5,6,7,8,9))

42

In [51]:
def profile_builder(name, age, qualification, income, *other_info):
    profile = {}
    profile['Name'] = name
    profile['Age'] = age
    profile['Qualification'] = qualification
    profile['Income'] = income
    profile['Other Info'] = other_info

    print(profile)

In [53]:
profile_builder('Arish', 24, 'Graduate', 40000, City = 'Karachi', Height = '5.8"', Color = 'Fair', Profession = 'Data Scientist')

TypeError: profile_builder() got an unexpected keyword argument 'City'

In [61]:
def profile_builder(name, age, qualification, income, **other_info): # ** To save the input as dictionary
    profile = {}
    profile['Name'] = name
    profile['Age'] = age
    profile['Qualification'] = qualification
    profile['Income'] = income
    profile['Other Info'] = other_info

    print(profile)

In [62]:
profile_builder('Arish', 24, 'Graduate', 40000, City = 'Karachi', Height = '5.8"', Color = 'Fair', Profession = 'Data Scientist')

{'Name': 'Arish', 'Age': 24, 'Qualification': 'Graduate', 'Income': 40000, 'Other Info': {'City': 'Karachi', 'Height': '5.8"', 'Color': 'Fair', 'Profession': 'Data Scientist'}}

In [65]:
def profile_builder(name, age, qualification, income, **other_info): # ** To save the input as dictionary
    profile = {}
    profile['Name'] = name
    profile['Age'] = age
    profile['Qualification'] = qualification
    profile['Income'] = income
    profile.update(other_info)

    print(profile)

In [66]:
profile_builder('Arish', 24, 'Graduate', 40000, City = 'Karachi', Height = '5.8"', Color = 'Fair', Profession = 'Data Scientist')

{'Name': 'Arish', 'Age': 24, 'Qualification': 'Graduate', 'Income': 40000, 'City': 'Karachi', 'Height': '5.8"', 'Color': 'Fair', 'Profession': 'Data Scientist'}