### 
- return
- local and global function

In [ ]:
name = test #global Variable

In [7]:
def profile_builder(name, age, qualification, income, **other_info): # ** To save the input as dictionary
    profile = {} #Local Variable
    profile['Name'] = name
    profile['Age'] = age
    profile['Qualification'] = qualification
    profile['Income'] = income
    profile.update(other_info)
    return (profile)

In [8]:
profile_builder('Arish', 24, 'Graduate', 40000, City = 'Karachi', Height = '5.8"', Color = 'Fair', Profession = 'Data Scientist')

{'Name': 'Arish',
 'Age': 24,
 'Qualification': 'Graduate',
 'Income': 40000,
 'City': 'Karachi',
 'Height': '5.8"',
 'Color': 'Fair',
 'Profession': 'Data Scientist'}

In [4]:
print(profile)

NameError: name 'profile' is not defined

In [10]:
def add (a,b):
    print (a+b)

In [14]:
# Values can not be access outside of the functions as they are Nonetype and there is no return function applied
#Print Function only display the values that cannot be used further However return provides the value to utilize
add(10,20) + 30

30

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [15]:
print(add(1,3))

4
None

In [18]:
def add (a,b):
    return (a+b)

In [19]:
print(add(1,3))

4

In [20]:
def add (a,b):
    return a+b, "Pakistan Zindabad"

In [21]:
add(5,4)

(9, 'Pakistan Zindabad')

In [22]:
# Salesman: Commission calculator
# Tax calculator
# Payment

In [37]:
def commissionCalc(units_sold):
    if units_sold >= 500:
        return 10000
    elif units_sold >= 250:
        return 5000
    elif units_sold >= 100:
        return 2000
    else:
        return 1000

In [44]:
def taxCalc(income):
    if income >= 50000:
        return income * 0.10
    elif income >= 40000:
        return income * 0.05
    elif income >= 30000:
        return income * 0.03
    else:
        return income * 0

In [45]:
def salaryCalc(basic, unit_sold):
    commission = commissionCalc(unit_sold)
    total = basic + commission
    tax = taxCalc(total)
    net = total - tax
    return net

In [46]:
salaryCalc(60000,250)

58500.0

In [49]:
#functions can be created for lists too

In [61]:
#defined function sum:
def sum_list1(lst):
    return(sum(lst))

In [62]:
sum_list1([1,3,4,5,6,2,7,7,7,2])

44

In [63]:
def sum_list(lst):
    s = 0
    for a in lst:
        s = s+a
    return s

In [64]:
sum_list([2,6,5,8,88,1,3])

113

In [65]:
def max_list(lst):
    max_num = lst[0]
    for n in lst:
        if n > max_num:
            max_num = n
    return max_num

In [67]:
max_list([2,5,6,44,33,66,23,74,21,22])

74

In [68]:
def min_list(lst):
    min_num = lst[0]
    for n in lst:
        if n < min_num:
            min_num = n
    return min_num

In [70]:
min_list([7,2,1,5,43,22,53,4,55,2])

1

In [71]:
def square_dict(n):
    sq = {} #Empty Dictionary
    for a in range(1,n+1):
        square = a**2
        sq[a] = square
    return sq

In [72]:
square_dict(8)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [77]:
bn = input("Enter 4 comma separated binary numbers").split(",")

Enter 4 comma separated binary numbers 1001,1000,1100,1111

In [78]:
bn

['1001', '1000', '1100', '1111']

In [79]:
int(0b1011)

11

In [80]:
bin(11)

'0b1011'