# Tuple
- ()
- Immutable (unchangable)
- tuple is iterable
- index

In [1]:
atuple = (11,22,33,44,55,66)

In [3]:
print(type(atuple))

<class 'tuple'>

In [4]:
len (atuple)

6

In [6]:
atuple[0:4]

(11, 22, 33, 44)

In [10]:
atuple [0] = (1000)

TypeError: 'tuple' object does not support item assignment

In [9]:
del atuple[4]

TypeError: 'tuple' object doesn't support item deletion

In [15]:
#if () has only one value, it needs to be end with comma ,
a = (12,)

# Set
- {}
- set counts only unique values

In [16]:
# if curly has value, it's a set
aset = {3}

In [17]:
#if curly has no value, it will be a dictionary
aset = {}

In [18]:
print(type(aset))

<class 'dict'>

In [19]:
bset = {1,2,32,3,4,55,6,8,8,8,9}

In [20]:
len (bset)

9

# Conditional Statements / if Clause / Conditionals
- if Statement (if :)
- if Statement else
- elif
- nested ifs

In [24]:
age = int(input("Enter your age"))
if age < 18 :
    print ("Abhi tum chote ho")
    print ("Abhi vote nahi dal Sakte")
    print ("Car drive nahi kar sakte")

Enter your age 3

Abhi tum chote ho
Abhi vote nahi dal Sakte
Car drive nahi kar sakte

In [26]:
age = int(input("Enter your age"))
if age < 18 :
    print ("Abhi tum chote ho")
    print ("Abhi vote nahi dal Sakte")
    print ("Car drive nahi kar sakte")

Enter your age 20

In [27]:
age = int(input("Enter your age"))
if age < 18 :
    print ("Abhi tum chote ho")
    print ("Abhi vote nahi dal Sakte")
    print ("Car drive nahi kar sakte")
else:
    print ("Ab Tum Bade Hogaye Ho")
    print ("Zara Hosh Karo")
    print ("Career p dehan Do")

Enter your age 19

Ab Tum Bade Hogaye Ho
Zara Hosh Karo
Career p dehan Do

In [28]:
age = int(input("Enter your age"))
if age < 18 :
    print ("Abhi tum chote ho")
    print ("Abhi vote nahi dal Sakte")
    print ("Car drive nahi kar sakte")
else:
    print ("Ab Tum Bade Hogaye Ho")
    print ("Zara Hosh Karo")
    print ("Career p dehan Do")

Enter your age 25

Ab Tum Bade Hogaye Ho
Zara Hosh Karo
Career p dehan Do

In [34]:
# take a number input and check if the student is pass or fail
numbers = int(input("Enter your numbers in Python Test: "))
if numbers >= 25:
    print("Pass")
    print("Prepare for the next test")
else:
    print("Fail")

Enter your numbers in Python Test:  32

Pass
Prepare for the next test

In [36]:
# take a number input and check if the number is even or odd
number = int(input("Enter a number: "))
if number % 2 == 0:
    print (f"{number} is even")
else:
    print (f"{number} is odd")

Enter a number:  10

10 is even

In [44]:
# take total shopping amount as input and calculate if the amount is greater than 10000,
# calculate 15% discount and show the total and total after discount.
total_amount = float(input("Enter the total shopping amount: "))
dis_amount = total_amount*0.15
total_disamount = total_amount - dis_amount
if total_amount > 10000:
    print (f"""
    Total Amount: {total_amount}
    15% discount amount: {dis_amount}
    Total Amount after 15% discount: {total_disamount}""")
else:
    print (f"Total Amount: {total_amount}")

Enter the total shopping amount:  15000

    Total Amount: 15000.0
    15% discount amount: 2250.0
    Total Amount after 15% discount: 12750.0

In [50]:
friends_lst = ["Ali","Bilal","Wajahat","Shani","Raza"]

In [54]:
name = input("Please tell me your name:" ).title()
if name in friends_lst:
    print("You are welcome!")
else:
    print("Please Wait, Your name is missing")

Please tell me your name: wajahat

You are welcome!

# Multiple if's (if : elif : else)

tamator: agr price > 500, mat lena, p > 300, 1/2kg, 200 > 1kg, 100 > 2kg, 5kg

In [58]:
tomato_price = int(input("Tamator kiya hisab hain?"))
if tomato_price >= 500:
    print ("Rehne do")
elif tomato_price >= 300:
    print ("1/2 kg deden")
elif tomato_price >= 200:
    print ("1 kg deden")
elif tomato_price >= 100:
    print ("2 kg deden")
else:
    print ("5 kg deden")

Tamator kiya hisab hain? 1000

Rehne do

In [59]:
tomato_price = int(input("Tamator kiya hisab hain?"))
if tomato_price >= 500:
    print ("Rehne do")
elif tomato_price >= 300:
    print ("1/2 kg deden")
elif tomato_price >= 200:
    print ("1 kg deden")
elif tomato_price >= 100:
    print ("2 kg deden")
else:
    print ("5 kg deden")

Tamator kiya hisab hain? 499

1/2 kg deden

In [61]:
tomato_price = int(input("Tamator kiya hisab hain?"))
if tomato_price >= 500:
    print ("Rehne do")
elif tomato_price >= 300:
    print ("1/2 kg deden")
elif tomato_price >= 200:
    print ("1 kg deden")
elif tomato_price >= 100:
    print ("2 kg deden")
else:
    print ("5 kg deden")

Tamator kiya hisab hain? 200

1 kg deden

In [62]:
tomato_price = int(input("Tamator kiya hisab hain?"))
if tomato_price >= 500:
    print ("Rehne do")
elif tomato_price >= 300:
    print ("1/2 kg deden")
elif tomato_price >= 200:
    print ("1 kg deden")
elif tomato_price >= 100:
    print ("2 kg deden")
else:
    print ("5 kg deden")

Tamator kiya hisab hain? 50

5 kg deden

#marks s1, s2, s3, s4, s5
#total_obt =
#percentage
90->A+, 80>A, 70>B, 60>C, , 50>D, Fail

In [67]:
s1_marks = float(input("Enter your subject 1 marks:"))
s2_marks = float(input("Enter your subject 2 marks:"))
s3_marks = float(input("Enter your subject 3 marks:"))
s4_marks = float(input("Enter your subject 4 marks:"))
s5_marks = float(input("Enter your subject 5 marks:"))

#Calculation
total_obt = s1_marks+s2_marks+s3_marks+s4_marks+s5_marks
percentage = (total_obt/500)*100

print(f"Your total marks are {total_obt}")
print(f"Your percentage is {percentage}")

#Conditional Statment
if percentage >= 90:
    print ("your grade is A+")
elif percentage >= 80:
    print ("your grade is A")
elif percentage >= 70:
    print ("your grade is B")
elif percentage >= 60:
    print ("your grade is C")
elif percentage >= 50:
    print ("your grade is D")
else:
    print("You are Fail")

Enter your subject 1 marks: 52
Enter your subject 2 marks: 66
Enter your subject 3 marks: 54
Enter your subject 4 marks: 23
Enter your subject 5 marks: 85

Your total marks are 280.0
Your percentage is 56.00000000000001
your grade is D

In [71]:
s1_marks = float(input("Enter your subject 1 marks:"))
s2_marks = float(input("Enter your subject 2 marks:"))
s3_marks = float(input("Enter your subject 3 marks:"))
s4_marks = float(input("Enter your subject 4 marks:"))
s5_marks = float(input("Enter your subject 5 marks:"))

#Calculation
total_obt = s1_marks+s2_marks+s3_marks+s4_marks+s5_marks
total = 500
percentage = (total_obt/total)*100
grade = None

#Conditional Statment
if percentage >= 90:
    grade = "A+"
elif percentage >= 80:
    grade = "A"
elif percentage >= 70:
    grade = "B"
elif percentage >= 60:
    grade = "C"
elif percentage >= 50:
    grade = "D"
else:
    grade = "Fail"

#Printing the Result
print (f"""
    Subject 1: {s1_marks}
    Subject 2: {s2_marks}
    Subject 3: {s3_marks}
    Subject 4: {s4_marks}
    Subject 5: {s5_marks}

    Total Marks: {total_obt}
    Percentage: {round(percentage)}
    Grade Acheived: {grade}
""")

Enter your subject 1 marks: 62
Enter your subject 2 marks: 55
Enter your subject 3 marks: 43
Enter your subject 4 marks: 32
Enter your subject 5 marks: 22

    Subject 1: 62.0
    Subject 2: 55.0
    Subject 3: 43.0
    Subject 4: 32.0
    Subject 5: 22.0

    Total Marks: 214.0
    Percentage: 43
    Grade Acheived: Fail